<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloroutine">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Kakao_app"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloRoutine"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="uqbv6gtw4k" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login"/>
        <activity android:name=".Register"/>
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Friend"/>
        <activity android:name=".Route"/>
        <activity android:name=".Navermap"/>
        <activity android:name=".Add_plan"/>
        <activity android:name=".FriendPlan"/>
        <activity android:name=".RequestList"/>
        <activity android:name=".Timer_function"/>
        <activity android:name=".Setting_activity"/>
        <activity android:name=".Challenge_complete"/>
        <receiver android:name=".ScreenReceiver"></receiver>
        <service android:name=".ScreenService"></service>
        <activity android:name=".LockScreenActivity"></activity>
        <activity android:name=".Guide"></activity>
        <activity android:name=".TOP"/>
        <activity android:name=".Bottom"/>
        <activity android:name=".Allbody"/>
        <activity android:name=".ShowExe"/>
        <activity android:name=".WalkCnt"/>

    </application>
    <!-- API 버전 28 이하 -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <!-- API 버전 29 이상 -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />


</manifest>